<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Plan</title>
</head>
<body>
    <h2>Add a Trip</h2>
    <a href="/travel">Home</a>
    <a href="/">Logout</a>
    {% if messages %}
        {% for error in messages %}
            <p>{{error}}</p>
        {% endfor %}
    {% endif %}
    <form action="/travel/add" method="post">
        {% csrf_token %}
        Destination: <input type="text" name="destination" required>
        Description: <input type="text" name="description" required>
        Travel Date From: <input type="date" name="start" required>
        Travel Date To: <input type="date" name="end" required>
        <input type="submit" value="Add">
    </form>
</body>
</html>