<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destination</title>
</head>
<body>
    <a href="/travel">Home</a>
    <a href="/">Logout</a>
    <h3>{{trip.destination}}</h3>
    <p>Planned By: {{trip.owner.name}}</p>
    <p>Description: {{trip.plan}}</p>
    <p>Travel Date From: {{ trip.start|date:"M d Y" }}</p>
    <p>Travel Date To: {{ trip.end|date:"M d Y" }}</p>
    <br>
    <br>
    <h3>Other users' joining the trip:</h3>
    {% if others %}
        {% for other in others %}
            <p>{{other.name}}</p>
        {% endfor %}
    {% endif %}
</body>
</html>